@model Recast.WebApp.Models.ViewModel.PostViewModel

@{
    ViewBag.Title = "Adding new post";
}

<h2>Adding post to feed @Model.FeedName</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.UserName)
    @Html.HiddenFor(model => model.FeedName)
    <fieldset>
        <legend>Post</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Title)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Title)
            @Html.ValidationMessageFor(model => model.Title)
        </div>
        
        <div class="editor-label">
            Link:
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SongLink)
            @Html.ValidationMessageFor(model => model.SongLink)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Subtitle)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Subtitle)
            @Html.ValidationMessageFor(model => model.Subtitle)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Summary)
        </div>
        <div class="editor-field">
            @Html.TextAreaFor(model => model.Summary)
            @Html.ValidationMessageFor(model => model.Summary)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Author)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Author)
            @Html.ValidationMessageFor(model => model.Author)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Category)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Category)
            @Html.ValidationMessageFor(model => model.Category)
        </div>

        <div class="editor-label">
            Publish Date
        </div>
        <div class="editor-field">
            @Html.HiddenFor(model => model.PublishDate)
            @*@Html.ValidationMessageFor(model => model.PublishDate)*@
            <div id="PublishDateDatePicker"></div>
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Duration)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Duration)
            @Html.ValidationMessageFor(model => model.Duration)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(function () {
            $("#PublishDateDatePicker").datepicker({
                altField: "#PublishDate",
                altFormat: "mm/dd/yy '12:00:00 AM'"
            });
        });
    </script>
}