@using Recast.WebApp.Models.Entities
@using Recast.WebApp.Models.ViewModel
@model Feed

@{
    ViewBag.Title = "Feed" + Model.RowKey;
}

<h2>Feed @Model.RowKey for @Model.PartitionKey</h2>

<fieldset>

    
</fieldset>

<ol>
@foreach (PostViewModel post in ViewBag.Posts)
{
    <li>@post.Title @Html.ActionLink("delete", "DeletePost", new { userName = post.UserName, feedName = post.FeedName, title = post.Title })</li>
}
</ol>

@Html.ActionLink("Add podcast post", "AddPost", "Feeds", new { userName = Model.PartitionKey, feedName = Model.RowKey }, null)